#db_manager_container {
    padding: 2em 0 4em;
}

.db_manager__frame {
    margin: 0 2em;
}

.db_manager__button_help {
    margin-left: 1em;
}

.db_manager__archive {
    margin-top: 3em;
}

.db_manager__subheading {
    font-size: 1.2em;
    margin-left: 1.3em;
    margin-bottom: 0.5em;
}

.db_manager__options-bar {
    margin-top: 1em;
    padding-left: 3em;
}

.db_manager__options-bar label {
    display: inline-block;
    margin-right: 5%;
    max-width: 15em;
    -webkit-user-select: none;
    -moz-user-select: none; 
    user-select: none;
    vertical-align: middle;
    width: 15%;
}

.db_manager__options-bar label:first-child {
    margin-top: 0.35em;
}

.db_manager__options-bar button {
    position: relative;
    top: -0.25em;
}
